.notes__header {
  margin-bottom: 5px;
  font-weight: bold;
  color: #fff;
  background-color: rgb(124, 124, 124);

  & svg {
    fill: #fff;
  }

  & .icon {
    background-color: transparent;
  }
}

.notes__content {
  margin-bottom: 15px;
}

.button__group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.button__group button {
  padding: 5px;
  border: none;
  background-color: transparent;
}

.create__btn {
  margin-left: auto;
}
